* {
  outline: 2px solid black;
}
body {
  background: peachpuff;
  color: white;
  margin: 0 auto;
  font-size: 2em;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 1em;
}

.a {
  background-color: coral;
  height: 10vh;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  height: 40vh;
  width: 100%;
  margin: 0em;
}



.b, .c, .d, .e, .f, .g {
  background-color: red;
  width: 30vw;
  height: 30%;
  margin: 0em auto;
}

.h {
  background-color:darkmagenta;
  height: 50vh;

}
@media(mini-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;

  }
  .a {
    flex-grow: 1;
    height: 35vh;
    width: 100%;
  }
  
  .main {
    width: 70vw;
    height: 75vh;
  }
  .h {
    flex-grow: 4;
    height: 75vh;
    margin-left: 1em;
  }
}

