
body {
  padding: 0 auto;
  margin: 0;
  text-align: center;
  background-color: blanchedalmond;
}

.container {
height: 100vh;
display: flex;
flex-direction: column;
/* margin: 1em; */
}

.A {
background-color: lightseagreen;
height: 10vh ;
margin: 1em;
}

.B {
background-color:darkviolet;
height:60vh;
margin: 1em;
}

.C {
  background-color: darkgoldenrod;
  height: 10vh;
  margin: 1em;
}


@media(min-width: 600px){

  .container {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em;
  }

  .A {
    width: 100%;
  }
  
  .B{

    /* flex-direction: row; */
    /* width: 65vw; */
    flex-grow: 3;
    height: 85vh;
    margin-top: 1em;
  }

  .C {
    
    /* flex-direction: row; */
    height: 85vh;
    flex-grow: 1;
    margin-top: 1em;

  }
}