* {
  outline: 1px solid black;
}
body {
  background: papayawhip;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.a, .f {
  background-color: crimson;
  height: 10%;
  
}

.b {
  background-color: darkgrey;
  height: 65%;
  margin: 1em 0;
}

 .cde-container {
  height: 15vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
}

.c, .d, .e {
  background-color: maroon;
  margin-bottom: 1em;
  width: 30%;

}





@media(min-width: 600px) {

  .a {
    height: 30%;
  } 
  .b {
    width: 70%;
    height: 30%;
  } 

  
}
